<!DOCTYPE html>
<html>
<head>
<title>Reset your password.</title>
</head>
<body>
<h1>Hi <%= @user.name %> </h1>
<p>To reset your password, please click on the following link:
<%= @url %>
</p>
</body>
</html>
