
<li class="micropost">


  <div class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </div>

 <%= render :partial => 'microposts/delete', :locals => { :post => feed_item } %>

 <%= render :partial => 'microposts/content', :locals => { :post =>  feed_item } %>

</li>
<li>
<%= render :partial => 'microposts/reply_form', :locals => {:micropost => feed_item} %>
</li>

